{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Olá, {% if nome %}{{ nome }}{% else %}Estranho{% endif %}!</h1>
    <p>A sua Instituição de ensino é {{ instituicao if instituicao else 'None' }}</p>
    <p>Está cursando a disciplina de {{ disciplina if disciplina else '' }}</p>
    <p>O IP do computador remoto é: {{ ip if ip else 'None' }}</p>
    <p>O host da aplicação é: {{ host if host else 'None' }}</p>
</div>

{{ wtf.quick_form(form) }}

<p>The local date and time is {{ moment(current_time).format('LLL') }}</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}
